@font-face {
  src: url(fonts/MARKCAPTURES-BOLD.woff);
  font-family: MARKCAPTURES;
  font-weight: 900;
}

@font-face {
  src: url(fonts/MARKCAPTURES-OBLIQUE.woff);
  font-family: MARKCAPTURES;
  font-style: oblique;
  font-weight: 900;
}

@font-face {
  src: url(fonts/MARKCAPTURES-SEMIBOLD.woff);
  font-family: MARKCAPTURES;
  font-weight: 700;
}

@font-face {
  src: url(fonts/MARKCAPTURES-ROMAN.woff);
  font-family: MARKCAPTURES;
  font-weight: 400;
}
